<button type="button" name="toggle" {{action "toggle" ratio}}>{{ratio}}</button>

{{input
  type="range"
  min=min
  max=max
  value=(mut rangeValue)
  input=(action "onUpdateRatio" ratio)
}}

{{yield}}
