{{#each overtones as |ratio index|}}
  {{osc-node
    ratio=ratio
    fundamental=fundamental
  }}
{{/each}}

<div>
  {{fundamental}}
  {{input
    type="range"
    min=0
    max=200
    value=(mut fundamental)
    input=(action "onUpdateFundamental" fundamental)
  }}
</div>

{{yield}}
