{{#each tracks as |track| }}
  {{sampler-track
    filePath=track.filePath
    fileName=track.fileName
    outputSelector='#master-compressor'
  }}
{{/each}}

<div>
  <label for="lo">master volume</label>
  <input
    id="lo"
    type="range"
    onchange={{action "setDacGain"}}
    onmousemove={{action "setDacGain"}}
    name="dacGain"
    min=0 max=85 steps=25
  >
</div>
