{{#each tracks as |track| }}
  <div class="track-wrapper">

    {{sampler-track
      track=track
      outputSelector='#master-compressor'
    }}

  </div>
{{/each}}

<div class="mastercontrols">
  <label for="lo">master volume</label>
  <input
    id="lo"
    type="range"
    onchange={{action "setDacGain"}}
    onmousemove={{action "setDacGain"}}
    name="dacGain"
    min=0 max=85 steps=25
  >
</div>
