@import 'colors';
@import 'fonts';

@import 'components/nav-bar';

@import 'components/osc-node';
@import 'components/tone-lattice';

@import 'components/sample-sequencer';
@import 'components/sampler-track';

body {
  margin: 0;
}

.application-container {
  display: flex;
  width: 100%;

  .content {
    background: $lightgray;
    flex: 1 0 auto;
    padding: 1rem;
  }
}


li {
  list-style: none;
  a {
    text-decoration: none;
  }
}

.toggle-btn {
  background-color: $white;
  border: solid 1px $black;

  &.active {
    background-color: $dark-blue;
    color: $white;
  }
}

button {
  &:focus {
    outline: none;
  }
}

// composibility classes
.inline-block {
  display: inline-block;
}

.fill-height {
  height: 100vh;
}

.hidden {
  display: none;
}
