@import 'colors';
@import 'fonts';

@import 'components/osc-node';
@import 'components/tone-lattice';



li {
  list-style: none;
  a {
    text-decoration: none;
  }
}

.toggle-btn {
  background-color: $white;
  border: solid 1px $black;
}

button {
  &:focus {
    outline: none;
  }
}

// composibility classes
.inline-block {
  display: inline-block;
}
