@import 'https://fonts.googleapis.com/css?family=Maitree|Oswald:700|Open+Sans:300';

body {
  font-size: 10px;
  // font-family: "Lucida Console", Monaco, monospace;
  font-family: Maitree, serif;
}

h1 {
  font-family: Maitree, serif;
}

.small-font {
  font-size: .8rem;
}

.large-font {
  font-size: 1.6rem;
}

.normal-font {
  font-size: 1.2rem;
}

.bold-font {
  font-weight: bold;
}
