.sampler-track {
  background-color: $gray;
  display: inline;
  margin: .5rem 0 1rem;
  position: relative;
  width: 100%;

  h2 {
    margin: 0;
  }

  section {
    padding: .25rem;
  }

  .control-group {
    display: flex;
  }

  .euclidean-sequence {
    padding: 20px;

    .euclidean-controls {
      position: relative;
      width: 100%;
      input {
        left: 3rem;
        position: absolute;
        width: 560px;
      }
    }
  }

  .sequence-display {
    .ui-step-sequencer {
      margin-left: 3.5rem;
    }

    padding: 1rem 2.7rem 0;

    .step-selector {
      padding: 5px;
    }
  }

}
