.sampler-track {
  margin: .5rem 0 1rem;

  h2 {
    margin: 0;
  }

  section {
    padding: .25rem;
  }

  .expanded-controls {
    display: none;
  }

  &.is-selected {
    .expanded-controls {
      background-color: $gray;
      display: inline;
      position: relative;
      width: 100%;
    }
  }

  .euclidean-controls {
    position: relative;
    width: 100%;
    input {
      left: 3rem;
      position: absolute;
      width: 320px;
    }
  }

  .sequence-display {
    .ui-step-sequencer {
      margin-left: 3rem;
    }

    padding: 1rem 0 0;

    .step-selector {
      padding: 5px;
    }
  }

}
