.tone-lattice {
  margin: 0 auto;
  width: 100%;

  .controls {
    margin: 1rem 4rem;
    .toggle-btn {
      width: 100px;
    }
  }


  .xaxis {
    text-align: center;
  }
  .table-axis-wrapper {
    display: flex;

    .yaxis {
      height: 30px;
      transform: translate(10px, 40px) rotate(-90deg);
      width: 120px;
    }
  }
  p {
    margin: 0;
  }
  td {
    border-radius: 50%;
    height: 30px;
    padding: 12px;
    position: relative;
    text-align: center;
    transition: background-color 1000ms ease-in-out;
    width: 30px;

    &.active {
      background-color: $gray;
    }
  }

}
